@import "../../_colors.scss";
@import "../../_fonts.scss";
@import "../../_mixin.scss";

.reviewCard {
  font-family: "DMSans", sans-serif;
  width: 343px;
  min-height: 432px;
  background: $white;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.07);
  border-radius: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px auto;
  padding: 5px;

  @include lg {
    margin: 3rem auto;
    min-height: 495px;
  }
}

.name {
  font-family: "DMSans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;

  @include lg {
    font-size: 24px;
  }
}

.city {
  font-family: "DMSans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.54);

  @include lg {
    font-size: 14px;
  }
}

.text {
  font-family: "DMSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: $gray2;
  font-size: 18px;
  
  @include lg {
    font-size: 20px;
  }
}
