@import "../../_colors.scss";
@import "../../_fonts.scss";
@import "../../_mixin.scss";

#LandingPage {
  font-family: "DMSans", sans-serif;

  .callToActionSection {
    background-color: $beige;
    background-image: url("../../assets/images/calltoaaction_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;

    img {
      text-align: center;
      margin: 0 auto;
    }

    @include lg {
      padding: 5%;
    }
  }

  .callToActionSectionForm {
    width: 100%;
    background-color: $beige;
    margin: 3rem auto;
  }

  .imageActionSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include lg {
      margin: auto auto;
    }
  }

  .imageAction {
    @include lg {
      height: 60vh;
    }
  }

  h1 {
    font-family: "DMSans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: $dark-gray;
    text-align: center;

    @include lg {
      font-size: 70px;
      text-align: left;
    }
  }

  h2 {
    font-family: "DMSans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: $gray2;
  }

  h4 {
    font-family: "DMSans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: $dark-gray;
  }

  .testimonialsSection {
    margin-top: 12rem;

    .description {
      display: flex;
      margin: auto 5%;

      @include lg {
        margin: auto 15%;
      }
    }

    p {
      font-family: "DMSans", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      text-align: center;

      @include lg {
        font-weight: 500;
        font-size: 24px;
      }
    }

    .customerReviewsSection {
      margin: 2rem auto;

      @include lg {
        margin: 8rem 2rem 1rem 8rem;
      }
    }

    .customerReviews {
      box-sizing: border-box;
      padding: 18px 25px;
      gap: 10px;
      width: 90%;
      max-width: 410px;
      min-height: 122px;
      background: $beige;
      border: 1px solid $gray;
      border-radius: 24px;
      margin: 15% auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .customerReviewsHr {
      margin: auto;
    }

    .reviewNumber {
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      text-align: center;
      color: $dark-gray;
    }

    .customerReviewsTitle {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      @include lg {
        justify-content: flex-start;
        max-width: 90%;
        margin: auto 1rem;

        img {
          margin-right: 10px;
        }
      }
    }

    .customerReviewsText {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      :first-child {
        margin-right: 3px;
      }

      span {
        font-size: 15px;
      }

      @include lg {
        justify-content: center;
        max-width: 90%;

        :first-child {
          margin: auto 3px;
        }

        span {
          font-size: 16px;
        }
      }
    }
  }

  .testimonialsSectionSubTitle {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: $gray2;

    @include lg {
      font-size: 20px;
    }
  }

  .getStarted {
    padding: 3.5%;

    h3 {
      font-family: "DMSans", sans-serif;
      color: $dark-gray;
      font-size: 32px;
      font-weight: 700;
      line-height: 45px;

      @include lg {
        font-size: 48px;
        max-width: 50rem;
        line-height: 68px;
        margin-bottom: 3rem;
      }
    }
  }

  .howItWorks {
    img {
      width: 100%;
    }
  }

  #findPerfectAgent {
    font-family: "DMSans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 4rem auto;
  }

  .findPerfectAgentTitle {
    font-family: "DMSans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    color: $blue;
  }

  .findPerfectAgentSubTitle {
    font-family: "DMSans", sans-serif;
    font-weight: 700;
    font-size: 24px;
  }

  .textMuted {
    font-family: "DMSans", sans-serif;
    line-height: 30px;
    color: $gray2;
    font-weight: 400;
    font-size: 18px;
  }

  #findAgentNextYou {
    min-height: 262px;
    background: $white-blue;
    border-radius: 24px;
    margin: 1rem;
  }

  #asSeenIn {
    h3 {
      font-family: "DMSans", sans-serif;
      font-weight: 700;
      font-size: 32px;
    }
  }

  #workTopAgents {
    h1 {
      font-family: "DMSans", sans-serif;
      font-size: 32px;
      text-align: left;

      @include lg {
        font-weight: 700;
        font-size: 48px;
      }
    }
  }
}
