// _global.scss
@import url(./_colors.scss);
@import url(./_fonts.scss);

body {
  margin: 0;
  font-family: "DMSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "DMSans", sans-serif;
}
